.aHBZ9zF3Bkw {
    background-color: rgb(255, 20, 81);
    color: #fff!important;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 2px 3px 3px #999;
    text-decoration: none!important;
    margin: 20px 0 30px;
    line-height: 27px;
    text-transform: uppercase;
}
.aaPLW8OCe6n{
    color: #365899;
}

.a1ho1rXGvz1 {
    font-family: "Open Sans";
    background: rgb( 236, 28, 36 );
    border: 1px solid rgb( 236, 28, 36 );
    border-radius: 10px;
    width: 310px;
    height: 42px;
    text-align: center;
    line-height: 39px;
    font-size: 17px;
    color: #ffffff;
    font-weight: 900;
    text-transform: uppercase;
    margin: 20px auto 0 auto;
    box-sizing:  border-box;
    transition: .3s all;
}
.a1ho1rXGvz1:hover{
    background: #ffffff;
    border: 1px solid rgb( 236, 28, 36 );
    box-shadow: 0px 7px 4px 0px #666;
    color:  rgb( 236, 28, 36 );
    transform: translate(0, -5px);
}

.a2KRNG0CjfJ{
    text-align:center;
}
.aGRE1gK1bzB{
    display:block;
    margin:0 auto;
}
.aXBTlClijQS{
    display:block;
    margin:0 auto;
}
.alSCcGiciBr{
    display:none;
}



* { margin: 0px; padding: 0px; line-height: 1.2em; }
html { width: 100%; }
input:active, textarea:active, a:active { outline: medium none; }
:focus { outline: medium none; }
a img { border: 0px none; }
body { width: 100%; font-family: Arial,Helvetica,sans-serif; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#aYbmMF1OiME { max-width: 1260px; margin: 0px auto; padding: 5px 18px 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#aXIBQ3ebmy2 { margin-top: 30px; text-align: center; white-space: nowrap; float: left; width: 100%; }
#logo { float: left; margin-top: -10px; text-align: left; vertical-align: middle; }
#logo img { width: 280px; }
header nav ul li::before { content: "â\80 ˘"; font-size: 14pt; font-weight: bold; margin-right: 12px; vertical-align: middle; }
header nav ul li:nth-child(1)::before { display: none; color: white; }
#aNLhICnjMGc { display: inline-block; margin-left: 0px; margin-top: 10px; vertical-align: baseline; text-decoration: none; color: rgb(102, 102, 102); font-size: 14pt; }
#aNLhICnjMGc:active { border: medium none; }
#aNws4EapftO { display: inline-block; width: 100%; min-height: 1800px; }
#amOSTZJ1AgY h2::before, #amOSTZJ1AgY h2::after, #a3pePDsKdJA h2::before, #a3pePDsKdJA h2::after { display: inline-block; content: " "; width: 55px; border-bottom: 1px solid rgb(77, 77, 77); margin-bottom: 3px; }
.a1hqod5fRLf::before, .a1hqod5fRLf::after { width: 85px !important; }
#amOSTZJ1AgY h2::before, #a3pePDsKdJA h2::before { margin-right: 18px; }
#amOSTZJ1AgY h2::after, #a3pePDsKdJA h2::after { margin-left: 18px; }
#aKYMT6lgjat h2::before, #aKYMT6lgjat h2::after { border: medium none; }
#aieTx4xZOKI a:nth-child(3) { margin-right: 0px; }
#ap2A4t33WWl p:nth-child(4) { margin-right: 0px; }
footer {/* height: 90px; */background: rgb(100, 156, 191) none repeat scroll 0% 0%;text-align: center;min-width: 1208px;}
footer div { display: inline-block; text-align: left; color: rgb(255, 255, 255); margin-top: 20px; }
footer #aSKxkmV2B0r { font-size: 10pt; width: 590px; }
footer #aSKxkmV2B0r img { float: left; margin: 3px 15px; vertical-align: middle; }
footer #ahnyRs2UwYQ { width: 230px; font-size: 10pt; margin-left: 90px; }
footer #aRwxbQ7AxXj { font-size: 25pt; padding: 10px 5px; vertical-align: top; margin-left: 60px; font-family: Arial,Helvetica,sans-serif; }
#amOSTZJ1AgY nav ul li a::first-letter { text-transform: uppercase; }
#amOSTZJ1AgY h2::before, #amOSTZJ1AgY h2::after { display: none; }
#ajOmhaXHytF h2::before, #ajOmhaXHytF h2::after { display: none; }
#text { margin-top: 40px; vertical-align: top; display: inline-block; width: 90%; margin-right: 0px; text-align: center; }
#align { text-align: left; display: inline-block; padding-left: 50px; }
#news span.apHwaNNdEDK { display: inline-block; font-size: 11pt; color: rgb(128, 128, 128); }
#news.axgq0Is06DK .image img { margin: 20px 0px; width: 600px; height: auto; }
#news h1 { font-weight: normal; font-size: 26pt; margin: 20px 0px; }
#news h1.apqKP5DYdxc {  }
#news.axgq0Is06DK .image { text-align: center; }
#aYtIgBxB5Aw, #aHWP9zZqJyi { display: inline-block; text-align: center; font-size: 20px; line-height: 20px; margin-bottom: 10px; }
#aYtIgBxB5Aw { margin-bottom: 0px; color: rgb(109, 148, 86); }
#aHWP9zZqJyi { margin-top: 0px; color: rgb(102, 102, 102); }
#news span::first-letter { text-transform: uppercase; }
#news #autor { display: inline-block; text-transform: none; font-size: 16px; line-height: 20px; font-style: italic; margin-top: 20px; }
#news p { font-size: 16px; line-height: 20px; margin: 20px 0px; }
#ajrvOt7Y7QD p:nth-child(1) { color: rgb(0, 0, 0); font-size: 16px; line-height: 22px !important; }
.a6VrMAk4MOr::first-letter { text-transform: none !important; }
#text h3 a::first-letter { text-transform: uppercase; }
#before p:nth-child(1) { margin-left: 0px; }
#before p a::first-letter { text-transform: uppercase; }
#ajrvOt7Y7QD em { line-height: 20px !important; }
#ajrvOt7Y7QD strong { line-height: 20px !important; }
#news p a, #news blockquote a, #news li a { color: rgb(102, 153, 204); line-height: 20px !important; }
#news p a:visited, #news blockquote a:visited, #news li a:visited { color: rgb(128, 128, 128); }
#news p a:active, #news blockquote a:active, #news li a:active { color: rgb(102, 204, 255); }
#news ul, #news ol { padding-left: 40px; margin: 10px 0px; }
blockquote.aBNRqZAhMZD {/* margin: 40px; */font-family: "PT Serif";font-weight: bold;text-align: center;font-size: 25px !important;line-height: 30px !important;}
.agAnvTDHi47 { color: red; }
#smartbanner .adzglFfcQU8::after { content: ""; position: absolute; left: 0px; top: -1px; border-top: 1px solid rgba(255, 255, 255, 0.8); width: 100%; height: 50%; border-radius: 10px 10px 12px 12px; }
body { background: background: rgb(255, 255, 255) none repeat   scroll 0% 0%; }

.one { width: 95%; margin-left: 50px; }
.aiVwzhcPt3J { display: block; margin: 20px auto; max-width: 300px; padding: 20px 5px; font-size: 20px; text-decoration: none; background-color: rgb(222, 6, 6); text-align: center; color: rgb(255, 255, 255) !important; border-radius: 4px; }
.aiVwzhcPt3J:hover { opacity: 0.8; }
.an5lUFC7u5a { position: relative; margin-bottom: 70px; }
.an5lUFC7u5a::after { content: ""; position: absolute; width: 80px; height: 73px; background-image: url(""); left: 0px; right: 0px; margin: 0px auto; bottom: -70px; }
.an5lUFC7u5a:hover::after { animation: 0.5s ease 0s normal none 1 running shake; transform-origin: center top 0px; }
.aiVwzhcPt3J-bottom { max-width: 400px; }
#news h1.apqKP5DYdxc { font-size: 27px; text-align: center; line-height: 30px; margin-bottom: 30px; margin-top: 10px; font-weight: bold; }
@media screen and (max-width: 1270px) {
    header { display: none; }
    .one { padding-left: 50px; width: 105%; margin: 0px; }
    #aYbmMF1OiME { min-width: 240px; max-width: 964px; }
    footer { min-width: 240px; }
    #text {width: auto;}
    #ajrvOt7Y7QD p { text-align: justify; }
    footer #aSKxkmV2B0r { width: 500px; }
    .one { width: 93%; }
}
@media screen and (max-width: 1000px) {
    .one { padding-left: 0px; width: 100%; }
    #news span.apHwaNNdEDK { margin-top: 25px; }
    #news p { line-height: 17px; margin: 10px 0px; }
    .comment { padding: 0px; width: 100%; }
    #text { padding-bottom: 20px; }
    body { background: #fff none repeat scroll 0% 0% !important; }
    #text, #aNws4EapftO { width: 100%; }
    #align { width: 90%; padding: 0px 5%; }
    #news span, #news div, #news p { width: 100%; }
    #news.axgq0Is06DK .image { width: 100%; }
    #news h1 { width: 100%; }
    div { padding: 0px; }
    #aYbmMF1OiME { overflow: hidden; padding: 0px 5px; width: 95%; margin: 0px auto; }
    #news.axgq0Is06DK .image img { margin-left: auto; margin-right: auto; display: block; }
    #text { margin: 0px; }
    #align { width: 100%; padding: 0px; }
    #news span.apHwaNNdEDK { text-align: center !important; }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
    #news.axgq0Is06DK .image img { width: 100%; }
    #news h1.apqKP5DYdxc { font-size: 30px; }
}
@media screen and (max-width: 479px) {
    #news h1.apqKP5DYdxc { font-size: 25px; }
    #news span, #news div, #news p { font-size: 17px !important; }
}
@media screen and (max-width: 320px) {
    #news h1.apqKP5DYdxc { font-size: 24px; line-height: 28px; font-weight: bold; }
    body { background: rgb(255, 255, 255) none repeat scroll 0% 0% !important; }
    #aYbmMF1OiME { padding: 0px; }
    #align { width: 98%; padding: 0px 1%; }
    .comment div { width: 93%; margin: 10px 1% !important; }
}
@media screen and (max-width: 240px) {
}
select {
    display:none;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
    border:2px solid grey;
    border-radius:5px;
}
input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 47%;
    border:2px solid grey;
    border-radius:5px;
}
form {
    display: block;
    margin: 0 auto;
    text-align: center;
}
button {
    border:none;
    cursor:pointer;
}

@media all and (max-width: 480px) {
input {width:90%;}
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin: 7.5px -15px;
}

.nav > li > a {
    padding: 10px 10px;
}
.aa8y0VuQngE:hover {
    background-color: white;
}
.aa8y0VuQngE:hover a {
    color: black;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #eee
}

.nav > li.disabled > a {
    color: #777
}

.nav > li.disabled > a:focus, .nav > li.disabled > a:hover {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #428bca
}

.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5
}

.nav > li > a > img {
    max-width: none
}

.aFPIagW2h8o {
    border-bottom: 1px solid #ddd
}

.aFPIagW2h8o > li {
    float: left;
    margin-bottom: -1px
}

.aFPIagW2h8o > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0
}

.aFPIagW2h8o > li > a:hover {
    border-color: #eee #eee #ddd
}

.aFPIagW2h8o > li.active > a, .aFPIagW2h8o > li.active > a:focus, .aFPIagW2h8o > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent
}

.aFPIagW2h8o.aQnnTAAwTsf {
    width: 100%;
    border-bottom: 0
}

.aFPIagW2h8o.aQnnTAAwTsf > li {
    float: none
}

.aFPIagW2h8o.aQnnTAAwTsf > li > a {
    margin-bottom: 5px;
    text-align: center;
    margin-right: 0;
    border-radius: 4px
}

.aFPIagW2h8o.aQnnTAAwTsf > .active > a, .aFPIagW2h8o.aQnnTAAwTsf > .active > a:focus, .aFPIagW2h8o.aQnnTAAwTsf > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .aFPIagW2h8o.aQnnTAAwTsf > li {
        display: table-cell;
        width: 1%
    }

    .aFPIagW2h8o.aQnnTAAwTsf > li > a {
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .aFPIagW2h8o.aQnnTAAwTsf > .active > a, .aFPIagW2h8o.aQnnTAAwTsf > .active > a:focus, .aFPIagW2h8o.aQnnTAAwTsf > .active > a:hover {
        border-bottom-color: #fff
    }
}

.a3gaPxki6x4 > li {
    float: left
}

.aQnnTAAwTsf > li, .aCD06OPvet3 > li {
    float: none
}

.a3gaPxki6x4 > li > a {
    border-radius: 4px
}

.a3gaPxki6x4 > li + li {
    margin-left: 2px
}

.a3gaPxki6x4 > li.active > a, .a3gaPxki6x4 > li.active > a:focus, .a3gaPxki6x4 > li.active > a:hover {
    color: #fff;
    background-color: #428bca
}

.aCD06OPvet3 > li + li {
    margin-top: 2px;
    margin-left: 0
}

.aQnnTAAwTsf {
    width: 100%
}

.aQnnTAAwTsf > li > a {
    margin-bottom: 5px;
    text-align: center
}

.aFPIagW2h8o-justified {
    border-bottom: 0
}

.aFPIagW2h8o-justified > li > a {
    margin-right: 0;
    border-radius: 4px
}

.aFPIagW2h8o-justified > .active > a, .aFPIagW2h8o-justified > .active > a:focus, .aFPIagW2h8o-justified > .active > a:hover {
    border: 1px solid #ddd
}

@media (min-width: 768px) {
    .aQnnTAAwTsf > li {
        display: table-cell;
        width: 1%
    }

    .aQnnTAAwTsf > li > a {
        margin-bottom: 0
    }

    .aFPIagW2h8o-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0
    }

    .aFPIagW2h8o-justified > .active > a, .aFPIagW2h8o-justified > .active > a:focus, .aFPIagW2h8o-justified > .active > a:hover {
        border-bottom-color: #fff
    }
}

.a84YL3vYDx4 > .tab-pane {
    display: none
}

.a84YL3vYDx4 > .active {
    display: block
}

.aFPIagW2h8o .aa8y0VuQngE-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.asYCqcfGEnr {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 10px;
}

.asYCqcfGEnr-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.asYCqcfGEnr-collapse.in {
    overflow-y: auto
}

@media (min-width: 768px) {
    .asYCqcfGEnr {
        border-radius: 4px
    }

    .asYCqcfGEnr-header {
        float: left
    }

    .asYCqcfGEnr-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .asYCqcfGEnr-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important
    }

    .asYCqcfGEnr-collapse.in {
        overflow-y: visible
    }

    .asYCqcfGEnr-fixed-bottom .asYCqcfGEnr-collapse, .asYCqcfGEnr-fixed-top .asYCqcfGEnr-collapse, .asYCqcfGEnr-static-top .asYCqcfGEnr-collapse {
        padding-right: 0;
        padding-left: 0
    }
}

.avjTTWSD5Hu, .aRblQCxCvQ5, .aRblQCxCvQ5-open, .aEDUyxRqaW7 {
    overflow: hidden
}

@media (max-width: 480px) and (orientation: landscape) {
    .asYCqcfGEnr-fixed-bottom .asYCqcfGEnr-collapse, .asYCqcfGEnr-fixed-top .asYCqcfGEnr-collapse {
        max-height: 200px
    }
}

.au9a7IdgJPi > .asYCqcfGEnr-collapse, .au9a7IdgJPi > .asYCqcfGEnr-header, .a1lzwkpsj1g > .asYCqcfGEnr-collapse, .a1lzwkpsj1g > .asYCqcfGEnr-header {
    margin-right: -15px;
    margin-left: -15px
}

.asYCqcfGEnr-static-top {
    z-index: 1000;
    border-width: 0 0 1px
}

.asYCqcfGEnr-fixed-bottom, .asYCqcfGEnr-fixed-top {
    position: static;
    right: 0;
    left: 0;
    z-index: 1030;
    transform: translate3d(0, 0, 0)
}

.asYCqcfGEnr-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

.asYCqcfGEnr-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0
}

.asYCqcfGEnr-brand {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px
}

.asYCqcfGEnr-brand:focus, .asYCqcfGEnr-brand:hover {
    text-decoration: none
}

@media (min-width: 768px) {
    .au9a7IdgJPi > .asYCqcfGEnr-collapse, .au9a7IdgJPi > .asYCqcfGEnr-header, .a1lzwkpsj1g > .asYCqcfGEnr-collapse, .a1lzwkpsj1g > .asYCqcfGEnr-header {
        margin-right: 0;
        margin-left: 0
    }

    .asYCqcfGEnr-fixed-bottom, .asYCqcfGEnr-fixed-top, .asYCqcfGEnr-static-top {
        border-radius: 0
    }

    .asYCqcfGEnr > .a1lzwkpsj1g .asYCqcfGEnr-brand, .asYCqcfGEnr > .au9a7IdgJPi .asYCqcfGEnr-brand {
        margin-left: -15px
    }
}

.asYCqcfGEnr-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px
}

.asYCqcfGEnr-toggle:focus {
    outline: 0
}

.asYCqcfGEnr-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px
}

.asYCqcfGEnr-toggle .icon-bar + .icon-bar {
    margin-top: 4px
}

.asYCqcfGEnr-nav {
    margin: 7.5px -15px
}

.asYCqcfGEnr-nav > li > a {
    padding-top: 3px;
    padding-bottom: 20px;
    line-height: 20px
    color: #ffb1b1;
}

@media (max-width: 767px) {
    .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu .aa8y0VuQngE-header, .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a {
        padding: 5px 15px 5px 25px
    }

    .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a {
        line-height: 20px
    }

    .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:focus, .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:hover {
        background-image: none
    }
}

.aEDUyxRqaW7-bar-striped, .aEDUyxRqaW7-striped .aEDUyxRqaW7-bar, .aEDUyxRqaW7-striped .aEDUyxRqaW7-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}

@media (min-width: 768px) {
/*
    .asYCqcfGEnr-toggle {
        display: none
    }

    .asYCqcfGEnr-nav {
        float: left;
        margin: 0
    }

    .asYCqcfGEnr-nav > li {
        float: left
    }
*/

/*
    .asYCqcfGEnr-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px
    }
*/

    .asYCqcfGEnr-nav.asYCqcfGEnr-right:last-child {
        margin-top: 15px
    }

    .asYCqcfGEnr-left {
        float: left !important
    }

    .asYCqcfGEnr-right {
        float: right !important
    }
}

.asYCqcfGEnr-form {
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    margin: 8px -15px
}

@media (min-width: 768px) {
    .asYCqcfGEnr-form .control-label, .asYCqcfGEnr-form .form-group {
        margin-bottom: 0;
        vertical-align: middle
    }

    .asYCqcfGEnr-form .form-group {
        display: inline-block
    }

    .asYCqcfGEnr-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle
    }

    .asYCqcfGEnr-form .input-group {
        display: inline-table;
        vertical-align: middle
    }

    .asYCqcfGEnr-form .input-group .form-control, .asYCqcfGEnr-form .input-group .input-group-addon, .asYCqcfGEnr-form .input-group .input-group-a6V9GZ54naM {
        width: auto
    }

    .asYCqcfGEnr-form .input-group > .form-control {
        width: 100%
    }

    .asYCqcfGEnr-form .checkbox, .asYCqcfGEnr-form .radio {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle
    }

    .asYCqcfGEnr-form .checkbox label, .asYCqcfGEnr-form .radio label {
        padding-left: 0
    }

    .asYCqcfGEnr-form .checkbox input[type="checkbox"], .asYCqcfGEnr-form .radio input[type="radio"] {
        position: relative;
        margin-left: 0
    }

    .asYCqcfGEnr-form .has-feedback .form-control-feedback {
        top: 0
    }

    .asYCqcfGEnr-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .asYCqcfGEnr-form.asYCqcfGEnr-right:last-child {
        margin-right: -15px
    }
}

.av1z4Woo4H7 > li, .a1gUpvHCGcH {
    display: inline-block
}

.a6V9GZ54naM .badge, .a6V9GZ54naM .label {
    top: -1px;
    position: relative
}

@media (max-width: 767px) {
    .asYCqcfGEnr-form .form-group {
        margin-bottom: 5px
    }
}

.asYCqcfGEnr-nav > li > .aa8y0VuQngE-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.asYCqcfGEnr-fixed-bottom .asYCqcfGEnr-nav > li > .aa8y0VuQngE-menu {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.asYCqcfGEnr-a6V9GZ54naM {
    margin-top: 8px;
    margin-bottom: 8px
}

.asYCqcfGEnr-a6V9GZ54naM.a6V9GZ54naM-sm {
    margin-top: 10px;
    margin-bottom: 10px
}

.asYCqcfGEnr-a6V9GZ54naM.a6V9GZ54naM-xs {
    margin-top: 14px;
    margin-bottom: 14px
}

.asYCqcfGEnr-text {
    margin-top: 15px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    .asYCqcfGEnr-text {
        float: left;
        margin-right: 15px;
        margin-left: 15px
    }

    .asYCqcfGEnr-text.asYCqcfGEnr-right:last-child {
        margin-right: 0
    }
}

.asYCqcfGEnr-default {
    background-image: url("a0VWsHwVRdR.png");
    border-color: #e7e7e7;
    background-position: 0 -81px;
    background-repeat: no-repeat;
background-size: cover;
}

.asYCqcfGEnr-default .asYCqcfGEnr-brand {
    color: #777
}

.asYCqcfGEnr-default .asYCqcfGEnr-brand:focus, .asYCqcfGEnr-default .asYCqcfGEnr-brand:hover {
    color: #5e5e5e;
    background-color: transparent
}

.asYCqcfGEnr-default .asYCqcfGEnr-nav > li > span, .asYCqcfGEnr-default .asYCqcfGEnr-text {
    color: #2f7771;
    background-color:#fff;
}

.asYCqcfGEnr-default .asYCqcfGEnr-nav > li > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav > li > a:hover {
    color: #333;
    background-color: transparent
}

.asYCqcfGEnr-default .asYCqcfGEnr-nav > .active > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .active > a:hover, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .active > span {
    color: #555;
    background-color: #e7e7e7
}

.asYCqcfGEnr-default .asYCqcfGEnr-nav > .disabled > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .disabled > a:hover, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .disabled > span {
    color: #ccc;
    background-color: transparent
}

.asYCqcfGEnr-default .asYCqcfGEnr-toggle {
    border-color: #ddd
}

.asYCqcfGEnr-default .asYCqcfGEnr-toggle:focus, .asYCqcfGEnr-default .asYCqcfGEnr-toggle:hover {
    background-color: #ddd
}

.asYCqcfGEnr-default .asYCqcfGEnr-toggle .icon-bar {
    background-color: #888
}

.asYCqcfGEnr-default .asYCqcfGEnr-collapse, .asYCqcfGEnr-default .asYCqcfGEnr-form {
    border-color: #e7e7e7
}

.asYCqcfGEnr-default .asYCqcfGEnr-nav > .open > a, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .open > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav > .open > a:hover {
    color: #555;
    background-color: #e7e7e7
}

@media (max-width: 767px) {
    .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a {
        color: #777
    }

    .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:hover {
        color: #333;
        background-color: transparent
    }

    .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a, .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a:hover {
        color: #555;
        background-color: #e7e7e7
    }

    .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a, .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a:focus, .asYCqcfGEnr-default .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a:hover {
        color: #ccc;
        background-color: transparent
    }
}

.asYCqcfGEnr-default .asYCqcfGEnr-link {
    color: #777
}

.asYCqcfGEnr-default .asYCqcfGEnr-link:hover {
    color: #333
}

.asYCqcfGEnr-default .a6V9GZ54naM-link {
    color: #777
}

.asYCqcfGEnr-default .a6V9GZ54naM-link:focus, .asYCqcfGEnr-default .a6V9GZ54naM-link:hover {
    color: #333
}

.asYCqcfGEnr-default .a6V9GZ54naM-link[disabled]:focus, .asYCqcfGEnr-default .a6V9GZ54naM-link[disabled]:hover, fieldset[disabled] .asYCqcfGEnr-default .a6V9GZ54naM-link:focus, fieldset[disabled] .asYCqcfGEnr-default .a6V9GZ54naM-link:hover {
    color: #ccc
}

.asYCqcfGEnr-inverse {
    background-color: #222;
    border-color: #080808
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-brand {
    color: #777
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-brand:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-brand:hover {
    color: #fff;
    background-color: transparent
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-nav > li > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-text {
    color: #777
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-nav > li > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > li > a:hover {
    color: #fff;
    background-color: transparent
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .active > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .active > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .active > a:hover {
    color: #fff;
    background-color: #080808
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .disabled > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .disabled > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .disabled > a:hover {
    color: #444;
    background-color: transparent
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-toggle {
    border-color: #333
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-toggle:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-toggle:hover {
    background-color: #333
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-toggle .icon-bar {
    background-color: #fff
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-collapse, .asYCqcfGEnr-inverse .asYCqcfGEnr-form {
    border-color: #101010
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .open > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .open > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav > .open > a:hover {
    color: #fff;
    background-color: #080808
}

@media (max-width: 767px) {
    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .aa8y0VuQngE-header {
        border-color: #080808
    }

    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu .divider {
        background-color: #080808
    }

    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a {
        color: #777
    }

    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > li > a:hover {
        color: #fff;
        background-color: transparent
    }

    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .active > a:hover {
        color: #fff;
        background-color: #080808
    }

    .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a:focus, .asYCqcfGEnr-inverse .asYCqcfGEnr-nav .open .aa8y0VuQngE-menu > .disabled > a:hover {
        color: #444;
        background-color: transparent
    }
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-link {
    color: #777
}

.asYCqcfGEnr-inverse .asYCqcfGEnr-link:hover {
    color: #fff
}

.asYCqcfGEnr-inverse .a6V9GZ54naM-link {
    color: #777
}

.asYCqcfGEnr-inverse .a6V9GZ54naM-link:focus, .asYCqcfGEnr-inverse .a6V9GZ54naM-link:hover {
    color: #fff
}

.asYCqcfGEnr-inverse .a6V9GZ54naM-link[disabled]:focus, .asYCqcfGEnr-inverse .a6V9GZ54naM-link[disabled]:hover, fieldset[disabled] .asYCqcfGEnr-inverse .a6V9GZ54naM-link:focus, fieldset[disabled] .asYCqcfGEnr-inverse .a6V9GZ54naM-link:hover {
    color: #444
}
.asYCqcfGEnr-default .asYCqcfGEnr-nav > li > span, .asYCqcfGEnr-default .asYCqcfGEnr-text {
    color: #2f7771;
    background-color: #fff;
}
.asYCqcfGEnr-default .asYCqcfGEnr-nav > li > span {
    text-transform: uppercase;
    background-color: #fff;
    padding: 14px 15px;
    font-size: 13px;
    height: 35px;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 600;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -ms-transition: color .1s linear;
    -o-transition: color .1s linear;
    transition: color .1s linear;
}
.a1lzwkpsj1g {
    max-width: 970px;
    margin: 0 auto;
}
.aUJBugWTIgV {
    margin-top: 0;
    min-height: 45px;
    padding: 3px 0;
    background-color: #0f2827 !important;
    /* fill: #1abc9c !important; */
}
.aUJBugWTIgV h3, .aUJBugWTIgV h4 {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
@media screen and (max-width: 1050px) {
.asYCqcfGEnr-nav.asYCqcfGEnr-right:last-child {
    display: none !important;
}}
.asYCqcfGEnr-header {
  padding-left: 10px;
}
.asYCqcfGEnr-collapse {
  border: none;
}


/*SPIN STYLES*/


.aVBEwBpyIN4 {
    -webkit-box-shadow: 0 0 10px;
    box-shadow: 0 0 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}
#align .aVBEwBpyIN4 p {
    text-align: center;
    font-size: 21px!important;
    line-height: 1.4!important;
    margin-bottom: 15px;
}
.axsv6IrVVgs {
    text-align: center;
}
.aHMVQBU1dJX {
    width: 380px!important;
    margin: 0 auto;
    position: relative;
}
.aHMVQBU1dJX-cursor {
    position: absolute;
    width: 35%!important;
    height: 35%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.aHQuYZFPYUY {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 45%!important;
    height: 45%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ccc;
    top: 49%;
    left: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    box-shadow: rgba(255, 255, 255, 1) 0px -2px 0px inset, rgba(255, 255, 255, 1) 0px 2px 0px inset, rgba(0, 0, 0, 0.4) 0px 0px 5px;
    background: rgb(255, 255, 255);
    /* Old browsers */
    /* FF3.6+ */

    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(234, 234, 234, 1)));
    /* Chrome,Safari4+ */

    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* Opera 12+ */
    /* IE10+ */

    background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: -o-radial-gradient(center, ellipse, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    ;
}
.aHMVQBU1dJX-img {
    -webkit-transition: 4s;
    -o-transition: 4s;
    transition: 4s;
}
.aZoGOZvypLF {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("");
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}
.aHQuYZFPYUY:active {
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px inset;
}
.akeO4lYmMxA {
    display: none;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
}
.aEglTMj1GSA {
    position: fixed!important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.7) !important;
    z-index: 99 !important;
}
.aEglTMj1GSA-show {
    display: block;
}
.alH921NRLQh {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #ffffff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    padding-top: 70px;
    padding-bottom: 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}
.alH921NRLQh::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}
.alH921NRLQh::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}
@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }
    30% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.aAN1EzQ3i2f {
    font-size: 40px;
    margin-bottom: 20px;
}
.azN56VPrmAr {
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
}
.a6wh8bQZe81 {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(113, 195, 65);
    color: rgb(255, 255, 255);
    border: medium none;
    cursor: pointer;
    outline: medium none;
}

.a6wh8bQZe81:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.aHMVQBU1dJX img {
    max-width: 100%;
}
@media all and (max-width: 520px) {
    .aHMVQBU1dJX {
        width: 280px!important;
    }
    .aHQuYZFPYUY {
        line-height: 48px;
        font-size: 14px;
    }
    .aZoGOZvypLF {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("");
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -10px;
    cursor: pointer;
}
}
.aa8y0VuQngE {
    display: inline-block;
    float: right;
    margin: -10px 0 20px 0px;
    background-color: #b5142b4f;
    padding: 7px 0px 2px 0px;
    height: 39px;
    box-sizing: border-box;

}
.aa8y0VuQngE:last-child {
    border-radius: 5px 0 0 5px;
}
.aa8y0VuQngE:first-child {
    border-radius: 0 5px 5px 0;
}
.aa8y0VuQngE a {
    font-size: 14px;
    text-decoration: none;
    position: relative;
    font-weight: 400;
    color: white;
    cursor: pointer;
    height: 19px;
    display: block;
    box-sizing: border-box;
    padding-bottom: 30px;
    text-align: center;
    padding-right: 10px;
}
.aa8y0VuQngE:not(:first-child) a:after {
    position: absolute;
    content: '';
    background-color: #fff;
    height: 100%;
    width: 1px;
    right: 0px;
    top: 2px;
}

.comments { padding-top: 10px; text-align: left;}
.a120akWEE7t {max-width: 98%;/* max-width: 91%; */ox-sizing: border-box;margin: 10px0 10px;padding-bottom: 10px;}
.afiBNjwi9Uz { display: inline-block; vertical-align: top; margin-right: 10px; border: 1px solid rgb(204, 204, 204); font-size: 0px; }
.arGWnsgIr5y {display: inline-block;max-width: 87%;vertical-align: top;font-size: 16px;}
.aRlyRwSOaxV { color: rgb(54, 88, 153); font-weight: bold; margin-right: 10px; cursor: pointer; }
.akoCpJMUNeb { padding-left: 66px; }
.like, .aEHplO4yNyW, .aD8CZgV5Uef { color: rgb(54, 88, 153); font-size: 13px; cursor: pointer; margin-right: 10px; position: relative; -moz-user-select: none; }
.like::after, .aEHplO4yNyW::after { content: " · "; position: absolute; font-weight: bold; right: -10px; top: 0px; color: rgb(144, 148, 156); }
.aD8CZgV5Uef { padding-left: 20px; position: relative; }
.aD8CZgV5Uef::before { content: ""; position: absolute; width: 13px; height: 15px; left: 0px; background-image: url("urn:scrapbook:download:error:http://inp.hwip.ru/3/img/like.png"); -webkit-background-size: contain;
background-size: contain;}
.aD8CZgV5Uef-liked { animation: 0.5s ease 0s normal none 1 running like-change; }
.aD8CZgV5Uef-unliked { animation: 0.5s ease 0s normal none 1 running like-unchange; }
@keyframes like-change {
50% { top: -10px; opacity: 0; }
51% { bottom: -10px; }
100% { bottom: 0px; opacity: 1; }
}
@keyframes like-unchange {
50% { bottom: -10px; opacity: 0; }
100% { top: 0px; opacity: 1; }
}
.comment-apHwaNNdEDK { font-size: 13px; color: rgb(144, 148, 156); position: relative; }
.comment-apHwaNNdEDK::before { content: " · "; position: absolute; font-weight: bold; left: -10px; top: 0px; color: rgb(144, 148, 156); }
.a56CnFRagUQ { width: 90%; margin: 0px auto 20px; }
.a56CnFRagUQ-area { display: inline-block; vertical-align: top; width: 80%; font-size: 0px; perspective: 800px; }
.a56CnFRagUQ input[type="text"] { width: 100%; box-sizing: border-box; padding-left: 10px; padding-top: 10px; padding-bottom: 10px; transition: all 0.4s ease 0s;    border: 1px solid #d3d6db!important;font-size: 16px;}
.textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d6db;
  padding: 15px 11px;
  height: 53px;
  font-size: 16px;
  resize: none;
  font-family: "Arial", sans-serif;
  transition: 0.5s;
}
.a56CnFRagUQ input[type="text"]::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a9a9a9;
  font-size: 16px;
}
.a56CnFRagUQ input[type="text"]::-moz-placeholder,
.textarea::-moz-placeholder { /* Firefox 19+ */
  color: #a9a9a9;
    font-size: 16px;
}
.a56CnFRagUQ input[type="text"]::-ms-input-placeholder,
.textarea:-ms-input-placeholder { /* IE 10+ */
  color: #a9a9a9;
    font-size: 16px;
}
.a56CnFRagUQ input[type="text"]::-moz-placeholder,
.textarea:-moz-placeholder { /* Firefox 18- */
  color: #a9a9a9;
    font-size: 16px;
}
.aSaLqZey0wP { height: 80px; }
.ajOnBZb4FO2 {
  display: none;
  transition: 0.4s;
  background-color: #f6f7f9;
  border: 1px solid #ccc;
  border-top: none;
  padding: 10px 10px;
  transform-origin: top;
  padding: 10px 10px;
}
.ajOnBZb4FO2-focus { display: block; animation: 0.6s ease 0s normal none 1 running action-appear; }
@keyframes action-appear {
0% { opacity: 0; transform: rotateX(-90deg); }
60% { transform: rotateX(30deg); }
100% { opacity: 1; transform: rotateX(0deg); }
}
.send-a6V9GZ54naM { float: right; padding: 5px 10px; background-color: rgb(66, 103, 178); border: medium none; border-radius: 2px; color: rgb(255, 255, 255); font-weight: bold; cursor: pointer; }
.send-a6V9GZ54naM:hover { background-color: rgb(54, 88, 153); }

.aGE7t8sxcRK::after { content: ""; display: table; clear: both; }

.aktwsWEUuRM {
border-bottom: 1px solid #e9ebee;
font-size: 14px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    align-items: baseline;
justify-content: space-between;
padding: 8px 0;
    margin-bottom: 24px;
}
.aLiBfAaI3NR {
  font-weight: bold;
}
.aktwsWEUuRM select {
    width: auto;
  padding: 4px;
  display: inline-block;
  background-color: #f6f7f9;
  font-weight: bold;
  border-radius: 2px;
  border-color: #ced0d4;

}
.avA66QGgyJ3 {
    border-left: 1px dotted #d3d6db;
    padding-left: 20px;
    max-width: 80%;
    margin-bottom: 0;
    position: relative;
}
/*
.avA66QGgyJ3:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    width: 11px;
    height: 8px;
    background-image: url(../img/replied.png);
}*/


/* POPUPS */
.avNqU8gl4sW {
  font-family: 'Raleway-Regular', sans-serif;
  position: relative;
  z-index: 100000000; }

.a1bP2c4VYHG > div:after,
.a1bP2c4VYHG > div:before {
  position: absolute;
  right: 7px;
  top: 15px;
  width: 20px;
  height: 1px;
 /* background: #989898;*/
  background: #fff;
  content: ""; }

.a1bP2c4VYHG p {
  margin: 0 !important; }

.a1bP2c4VYHG > div:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.a1bP2c4VYHG > div:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.avNqU8gl4sW {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 60px;
  width: 248px;
  line-height: normal;
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px; }

.avNqU8gl4sW #js-user-id {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 700; }

.a1bP2c4VYHG__left {
  font-size: 14px; }

.a1bP2c4VYHG__left span {
  font-size: 15px; }

.a1bP2c4VYHG_call {
  background-color: #363636; }

.aNRFjQD3TwL,
.aNRFjQD3TwL span {
  font-size: 15px !important; }

#ouibounce-aRblQCxCvQ5 {
  background-color: rgba(0, 0, 0, 0.9); }

.a1bP2c4VYHG_online {
  background-color: #CD5555;
  background-color: rgba(0, 0, 0, 0.9); }
.a1bP2c4VYHG__emph {
    color: #ffc107;
    font-weight: bold;
}
.a1bP2c4VYHG__item,
.a1bP2c4VYHG__item-first {
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 120px;
  width: 300px;
/*  background-color: #111;*/
  background-color: rgba(41, 125, 45, 0.76);
 /* border: 2px solid #ccc;*/
  border-radius: 5px;
  color: #cbcbcb;
  padding: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  border-radius: 0px;
  display: none;
  z-index: 999; }

.aTriF3RwRiP {
  display: none !important;
  opacity: 0 !important; }

.antVLklZPP6 {
  display: block !important;
  opacity: 1 !important; }

.aQ4RXm9IJwV {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important; }

.aGRE1gK1bzBuct-number {
  white-space: nowrap; }

@media screen and (max-width: 767px) {
    .arGWnsgIr5y{
       max-width:98%;
    }
  .avNqU8gl4sW #js-user-id {
    font-size: 18px;
    color: #fff; }

  .avNqU8gl4sW {
    width: 230px; }

  .a1bP2c4VYHG__item,
  .a1bP2c4VYHG__item-first {
    top: auto;
    right: 10px;
    bottom: 10px;
    width: 300px; } }
@media screen and (max-width: 319px) {
  .a1bP2c4VYHG__item,
  .a1bP2c4VYHG__item-first {
    width: 225px; }

  .avNqU8gl4sW {
    width: 170px;
    font-size: 11px; }

  .avNqU8gl4sW span {
    font-size: 17px; }

  .a1bP2c4VYHG__icon {
    width: 38px !important; }

  .avNqU8gl4sW br {
    display: none; } }
.avNqU8gl4sW.icon-box.horizon {
  padding-left: 65px;
  padding-bottom: 0 !important; }
  .avNqU8gl4sW.icon-box.horizon::before {
    width: 43px;
    height: 43px;
    top: 10px;
    left: 10px;
    background-size: 43px 43px;
    position: absolute;
    background-repeat: no-repeat; }
.avNqU8gl4sW.icon-box::before {
  content: " ";
  background-image: url(""); }

.aOlBYp9UjJr + .avNqU8gl4sW.icon-box::before {
  background-image: url(""); }

.aPzwgsYyzAF + .avNqU8gl4sW.icon-box::before {
  background-image: url(""); }

@media (max-width: 767px) {
  .avNqU8gl4sW.icon-box.horizon {
    padding-left: 50px;
    padding-bottom: 15px;
    padding-top: 2px;
    font-size: 0.9rem; }
    .avNqU8gl4sW.icon-box.horizon span {
      font-size: 0.95em; }
    .avNqU8gl4sW.icon-box.horizon::before {
      top: 0px;
      left: 10px;
      width: 30px;
      height: 30px;
      background-size: 30px 30px; } }
                 .a56CnFRagUQ input[type="text"] {
    width: 150px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 0;
    border: 1px solid rgb(169, 169, 169);
    padding-top: 5px;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    transition: 0.4s;
    word-wrap: wrap;
}

.aDIiZKrOeF1 {
    background-color: #d7f2d8;
    padding: 1px 0;
    margin:  20px 0;
    /* min-height: 130px; */
    /*border: 3px solid red;*/
    border-radius: 5px;
}
.aDIiZKrOeF1 .aaWsYf4spRc-title {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.aDIiZKrOeF1 .a120akWEE7t {
    display: none;
    border-bottom: none;
}
.aDIiZKrOeF1 .comments-newly-showed {
    display: block;
    animation: new-comment-show .5s;
}
.aaWsYf4spRc {
    display: none;
    text-align: center;
}
.aaWsYf4spRc img {
    max-width: 100px;
}
.auvVMuFdiUT {
    display: block;
    animation:  typing-show .5s;
}
@keyframes typing-show {
0% {
    opacity: 0
}

100% {
        opacity: 1;
}
}

@keyframes new-comment-show {
0% {
    transform: scale(.2)
}
80% {
    transform: scale(1.2);
}
100% {
    transform: scale(1);
}
}


@media screen and (max-width: 380px) {
    .akoCpJMUNeb {
        padding-left: 0;
    }
}
